body {
  min-width: 1000px;
  margin: 0;
  padding: 0;

  font-family: Arial, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400; 
  color: #000000;

  background-image: url("../img/pattern.jpg");
  background-position: 0 0;
  background-repeat: repeat;  
}

.container {
  width: 1000px;
  margin: 0 auto;

  background-color: #ffffff;
}

.box {
  width: 800px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  width: 1000px;
  margin: 0 auto;
}

.main-logo {
  display: inline-block;
  width: 127px;
  height: 22px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;  
  
  vertical-align: middle;
}

.slogan {
  width: 1000px;
  height: 375px;
  padding-top: 45px;

  text-align: center;

  background-image: url("../img/picture-top.jpg");
  background-position: top center;
  background-size: cover;  
}

.slogan h1 {
  margin: 0;
  margin-bottom: 20px;

  font-size: 30px;
  line-height: 60px;
  font-weight: 400;
  color: #ffffff;  
}

.slogan p {
  margin: 0;

  font-size: 50px;
  font-weight: 700;
  color: #ffffff;
}

.franchise {
  margin-bottom: 30px;
  padding-top: 250px;
}

.franchise p {
  position: relative;
  
  margin: 0;
  margin-bottom: 15px;
}

.laptop {
  content: "";
  position: absolute;
  top: -440px;
  left: 40px;

  width: 722px;
  height: 410px;

  background-image: url("../img/laptop.png");
}

.laptop-link {
  position: absolute;
  top: 150px;
  left: 220px;

  color: #5c37ef;
}

.franchise ul {
  margin: 0;
  padding: 0;
  padding-left: 16px;
}

.franchise span {
  color: #a8a8a8;
}

.score-text {
  padding-top: 20px;
  padding-bottom: 25px;

  text-align: center;

  background-color: #f7f8fa;
  border-radius: 4px;
}

.score-text h2 {
  margin: 0;

  font-size: 16px;
  line-height: 36px;
  font-weight: 400;
}

.score-text a {
  color: #396ea9;
}

.score-text p {
  margin: 0;

  font-size: 24px;
  line-height: 36px;  
}

.index-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  margin-bottom: 30px;
  padding-top: 40px;
}

.index-columns section {
  width: 390px;
}

.index-columns h2 {
  margin: 0;
  margin-bottom: 25px;

  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

.index-columns ul {
  padding-left: 16px;
}

.index-columns li:not(:last-child) {
  margin-bottom: 10px;
}

.index-columns dl {
  margin: 0;
}

.index-columns dt {
  margin-bottom: 6px;

  font-size: 40px;
  line-height: 36px;
  font-weight: 700;
  color: #1ea01e;
}

.index-columns dd {
  margin: 0;
  line-height: 36px;
}

.index-columns dd:not(:last-child) {
  margin-bottom: 28px;
}

.form {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  padding: 24px 135px 30px;
  background-color: #fff4b3;
  border-radius: 4px;
}

.form h2 {
  margin: 0;
  margin-bottom: 30px;

  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}

.form p { 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  margin: 0;
  margin-bottom: 15px;
}

.form label {
  font-size: 14px;
  line-height: 32px;
}

.form input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 360px;
  padding: 10px;

  font-size: 14px;
  color: #000000;

  border: 1px solid #a6acb2;
  border-radius: 4px;
}

.form input:hover,
.form input:focus  {
  outline: 0;
  -webkit-box-shadow: 0 0 10px 0px rgb(88, 205, 244);
          box-shadow: 0 0 10px 0px rgb(88, 205, 244);
}

.form ::-webkit-input-placeholder {
  color: #b2b2b2;
}

.form :-ms-input-placeholder {
  color: #b2b2b2;
}

.form ::-ms-input-placeholder {
  color: #b2b2b2;
}

.form ::placeholder {
  color: #b2b2b2;
}

.button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  width: 160px;
  margin-left: 170px;
  padding: 11px 10px;

  text-align: center;
  vertical-align: middle;
  color: #ffffff;

  background-color: #0d972b;  
  border: none;
  border-radius: 4px;
  opacity: 0.3;
  cursor: pointer;
}

.last-text {  
  padding-top: 27px;
  padding-bottom: 55px;
}

.last-text p {
  margin: 0;
}

.main-footer,
.main-footer .container {
  background-color: #000000;
}

.footer-logo {
  display: inline-block;
  width: 22px;
  height: 22px;  
  margin-top: 19px;
  margin-bottom: 19px;
  margin-left: 20px;
  

  vertical-align: middle;
}